language: python
dist: xenial
cache: pip
python:
- 3.8
- 3.7
- 3.6
- 3.5
- 2.7
install: pip install tox-travis codecov
script: tox
after_success:
- codecov
deploy:
  provider: pypi
  user: jazzband
  server: https://jazzband.co/projects/django-robots/upload
  distributions: sdist bdist_wheel
  password:
    secure: BrV3ApadhVXuskMzLPR/9jakE+kpqa1nLNva80uJ8jccUHkLYjrTelVGRPpnR8P6Wc4+aUaet1DVBrllI8o2DEydowrRDLcYA/qJ2vVfVHVCeLCDCZmQTMXnMPieyR7gSPxPKKwGwH1ER73s5FoQDu3OyJNfZrYB6Jd0llh5XIQ=
  on:
    tags: true
    repo: jazzband/django-robots
    python: 3.7
